<div class='row' style='margin-top: 32px;'>
  <h1>insert password</h1>
  <form action='/auth/password' method='post' style='margin-top: 32px;'>
    <input type='hidden' name='_csrf' value='{{csrf}}' />
    <input type='hidden' name='token' value='{{token}}' />
    <input type='hidden' name='userId' value='{{userId}}' />

    <input
      placeholder='password'
      type='password'
      class='validate'
      name='password'
      required
      autocomplete
    />
    <span class='helper-text' data-error='Insert an password'></span>
    <input
      placeholder='confirm'
      type='password'
      class='validate'
      name='confirm'
      required
      autocomplete
    />
    <span class='helper-text' data-error='Insert an confirm'></span>
    <div>
      <button
        type='submit'
        class='btn btn-primary'
        style='margin-top: 32px;'
      >Reset</button>
    </div>
  </form>
</div>