<div>
  <h2>Title: {{course.title}}</h2>
  <div>
    <span> Image:</span>
    <img src='{{course.img}}' alt='{{course.title}}' style='width: 128px;' />
  </div>
  <h4>Price: {{course.price}}</h4>
</div>